<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27310096095-ki3onrm2hs49268aoll5vegm0hpd7dkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27310096095-ki3onrm2hs49268aoll5vegm0hpd7dkm</string>
	<key>API_KEY</key>
	<string>AIzaSyCEwdkO7dYbpFk2tEXsdwyPIBka2f0RKGE</string>
	<key>GCM_SENDER_ID</key>
	<string>27310096095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ken.firestoreTraining</string>
	<key>PROJECT_ID</key>
	<string>firestore-training-f354b</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-training-f354b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27310096095:ios:8d98c725689de58c5fb36a</string>
</dict>
</plist>